
.nav {
    background-color: #7baeff;
    grid-area: n;
    font-size: 20px;
    padding: 10px 0;
    height: 100vh;
}

.item {
     padding: 0px 20px;
     margin: 5px 0 0 0;
 }

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #000000;
}

.item a.activeLink {
    color: #646464;
}

/*.newItem {*/
/*    color: red;*/
/*}*/