
.nav {
    background-color: #cce500;
    grid-area: n;
    padding: 10px 10px;
    font-size: 20px;
}

.item a {
    color: #fff;
    text-decoration: none;

}

.item a:hover {
    color: #394dff;
}

.item a.activeLink {
    color: gold;
}

/*.newItem {*/
/*    color: red;*/
/*}*/